<div id="song_show">
      <div id="show_banner">
        <div class="wrapper_skinny">
          <h1>Dashboard</h1>
          
        </div>
      </div>

      <div id="links">
        <div class="wrapper_skinny">
          <ul>
            <li><%= link_to "Albums", root_path %> </li>
            <li><%= link_to "New Album", new_song_list_path(@song) %></li>
            <li> <%= link_to "Account Settings", edit_song_registration_path %></li>
            <li><%= link_to "View Songs", song_path(current_song) %></li>
          </ul>
        </div>
      </div>
      <div id="form">
    <div class="wrapper_skinny">
		<%= render 'form' %>
	</div>
</div>