<div id="song_show">
		<div id="show_banner">
			<div class="wrapper_skinny">
				<h1><%= @song.title %></h1>
			<p class="description"><%= @song.description %></p>
			<% unless @song.itunes.blank? %>
				<a href="<%= @song.itunes %>" class="buy_link">iTunes</a>
			<% end %>
			<% unless @song.amazon.blank? %>
				<a href="<%= @song.amazon %>" class="buy_link">Amazon</a>
			<% end %>
			<% unless @song.playstore.blank? %>
				<a href="<%= @song.playstore %>" class="buy_link">Playstore</a>
			<% end %>
				
			</div>
		</div>
		<div id="breadcrumb">
			<%= link_to songs_path do %>
				All Songs
				<span>/</span>
				<%= link_to @song.title, song_path(@song) %>
				<span>/</span>
				<%= @list.title %>
				<% end %>

	<div id="album_content">
			<div class="wrapper_skinny">
				<img src="images/amy.jpg" alt="Songs I Wrote with Amy" class="current_album">
			<h2><%= @list.title %></h2>
			<p class="description"><%= @list.description %>
							</p>
			</div>
		</div>
		</div>
		<div id="albums">
			<div class="wrapper_skinny">
				<ul class="cf">
					<% @lists.each do |list| %>
					<li class="cf">
						<div class="album_thumbnail">
							<a href="album.html">
								<img src="images/amy.jpg" alt="Songs I Wrote with Amy">
							</a>
						</div>
						<div class="album_overview">
							<h2> 
					<%= link_to list.title, song_list_path(@song, list) %>
				</h2>
				<p class="description">
				<%= truncate(list.description, length: 170) %>
				</p>
			</div>
		</li>
		<% end %>	
				</ul>
			</div>
			<div class="pagination">
	<span class="previous_page disabled">Previous</span>
		<em class="current">1</em>
		<a href="#">2</a>
		<a class="next_page" href="#">Next</a>
		</div>
	</div>
</div>