<div id="background">
			<header class="cf">
				<div class="wrapper_wide">
					<a href="#" id="logo">Spotflix</a>
					<nav>
						<ul>
							<li><%= link_to "Explore", songs_path %></li>
							<li><%= link_to "Sign In", new_song_session_path%></li>
							<li><%= link_to "Create Artist", new_song_registration_path%></li>
						</ul>

					</nav>
					</div>
			</header>
			<div class="wrapper_skinny">
				<h1>Discover new music<br>or add your own!</h1>
				<%= link_to "Create Artist", new_song_registration_path, class: "button button_highlight"%>

				<%= link_to "Explore", songs_path, class: "button button_white" %>
			</div>

		</div>