<!DOCTYPE html>
<html>
  <head>
    <title>Spotflix</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<% if notice %>
  	<p class="notice"><%= notice %></p>
  	<% elsif alert %>
  	<p class="alert"><%= alert %></p>
  	<% end %>

  <header id="main_header" class="cf">
          <div class="wrapper_wide">
            <%= link_to "Spotflix", root_path, id: "logo" %>
            <nav>
              <ul>
                <% unless song_signed_in? %>
              <li><%= link_to "Explore", songs_path %></li>
              <li><%= link_to "Sign In", new_song_session_path%></li>
              <li><%= link_to "Create Playlist", new_song_registration_path%></li>
              <% else %>
              <li><a href="#">Dashboard</a></li>
              <li><%= link_to "Explore", songs_path %></li>
              <li><%= link_to "Sign Out", destroy_song_session_path, method: :delete %> </li>
              <% end %>
              </ul>

            </nav>
          </div>
        </header>
    <%= yield %>
  </body>
</html>
